@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  src: local("Black Ops One"), 
       local("BlackOpsOne-Regular"), 
	   url(http://fonts.gstatic.com/s/blackopsone/v6/2XW-DmDsGbDLE372KrMW1TxObtw73-qQgbr7Be51v5c.woff2) format('woff2'), 
	   url(http://fonts.gstatic.com/s/blackopsone/v6/2XW-DmDsGbDLE372KrMW1fn8qdNnd5eCmWXua5W-n7c.woff) format('woff');
}

body{
background: #212121 url(../img/INICIO_11.png)no-repeat center center fixed;/*Img de fondo ajustada*/
font-family: Arial,sans-serif;
text-align:center;
color:#EEEEEE;

}


 #button{
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }
 
 
.center{
	position:absolute;
	width:700px;
	height:600px;
	top:50%;
	left:50%;
	margin-left:-350px;
	margin-top:-250px;	
}

div {
   margin: 0.4em 0;
}

#inicio{
margin: 0.5em auto;
padding: 0.25em;
text-align: center;


}

h1{
	font-size:20px;
    text-align: center;
	text-color: #70D9DE;
	list-style: none;
	float:right;
	position: absolute;/*POSICION DE LA IMAGEN*/
	top: 199px; /*SE MUEVE DESDE LA PARTE SUPERIOR*/
	left: 1000px;/*SE MUEVE DE IZQDA A DERECHA*/
	
}

input {
     
   font-family:  Arial ;
   text-align:left;
   vertical-align: baseline;
   width: 40%;/*ancho*/
   float:left;
   left: 75%;
	height:30px;/*largo*/
  /*sombra*/
  -webkit-box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);
/*bordes*/
border-radius: 7px 9px 9px 9px;
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/
border: 0px solid #000000;/*bordeado*/
	
	
}
label {
   font-family:  Arial;
   width: 25%;
   float: left;
   
}

.modalmask {
    alineblock: center;
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(0,0,0,0.8)  url(../img/INICIO_31D.png)no-repeat ;/*FONDO DE PANTALLA MODALS*/
	/*expancion de img*/
	     background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
	
	/**/
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	
}

.modalmask:target {
	opacity:1;
	pointer-events: auto;
	
}
.modalbox{
	width: 400px;
	position: relative;
	padding: 3px 170px 170px 170px;/*largo interior,ancho interior,largo exterior,ancho exterior*/
	/*background: url(../img/INI_32D.png)no-repeat center center fixed;/*Img de fondo ajustada*/
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;

/*DEGRADADO
background: -moz-radial-gradient(center, ellipse cover, rgba(50,144,227,1) 0%, rgba(4,2,84,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(50,144,227,1)), color-stop(100%, rgba(4,2,84,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(50,144,227,1) 0%, rgba(4,2,84,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(50,144,227,1) 0%, rgba(4,2,84,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(50,144,227,1) 0%, rgba(4,2,84,1) 100%);
background: radial-gradient(ellipse at center, rgba(50,144,227,1) 0%, rgba(4,2,84,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3290e3', endColorstr='#040254', GradientType=1 );*/

/*BORDEADO*/
/*border-radius: 10px 8px 87px 87px;
-moz-border-radius: 107px 8px 87px 87px;
-webkit-border-radius: 9px 9px 9px 9px;/*ORILLAS
border: 3px ridge #0080C0;/*bordeado*/


}
	
.movedown {
	margin: 0 auto;

}

.resize {
	margin: 10% auto;
	width:0;
	height:0;

}
.modalmask:target .movedown{		

	margin:10% auto;

}
.modalmask:target .rotate{		
	transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize{

	width:400px;
	height:200px;
}



.close {
    
	background: #0080C0;
	line-height: 25px;
	text-align: center;
	width: 24px;
	text-decoration: none;
	font-weight:   above;
	border-radius:8px;
	font-size:16px;
	position: absolute;
	top: 50px;
	left: 650px ; 

	
	
	/*BORDEADO*/
/*border-radius: 107px 8px 87px 87px;
-moz-border-radius: 107px 8px 87px 87px;
-webkit-border-radius: 107px 8px 87px 87px;
border: 7px ridge #6b086b;*/
	
}

.close:hover { 
	background: #aqua; 
	color:#fff;
		/*SOMBRA*/
-webkit-box-shadow: -4px 10px 42px 5px rgba(163,41,163,1);
-moz-box-shadow: -4px 10px 42px 5px rgba(163,41,163,1);
box-shadow: -4px 10px 42px 5px rgba(1,41,163,1);

}

section{
	border-radius: 0.5em;
	text-align: center;
	width: 100%;
}
section#principal{
	
	vertical-align: bottom;
	width: 499px;
	position: absolute;/*POSICION DE LA IMAGEN*/
	top: 50px; /*SE MUEVE DESDE LA PARTE SUPERIOR*/
	left: 300px;/*SE MUEVE DE IZQDA A DERECHA*/
	
	
}

button{
	position: absolute;/*POSICION DE LA IMAGEN*/
	top: 185px; /*SE MUEVE DESDE LA PARTE SUPERIOR*/
	left: 447px;/*SE MUEVE DE IZQDA A DERECHA*/

}


ul{
	width:500px;
	margin:20% auto;
	list-style:none;
}
ul li{

	float:left;
	margin-right:35px;
	list-style: none; /* si le pone el none se van a quitar unas biñetas */


}
ul li a{
	font-family: Arial black;
	font-size:16px;
	text-decoration:none;
	background:#222;
	padding:20px;
	color:#fff;
	font-weight:bold;
	border-radius:223px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	list-style: none; /* si le pone el none se van a quitar unas biñetas */

}
ul li a:hover{
	background:#FCFCFC;
	color:#222;
	list-style: none; /* si le pone el none se van a quitar unas biñetas */


}

a{
	text-decoration:none;
	text-align: center;
	font-family:Arial, cursive;
	font-size:25px;
	color:# 222;
	

}
a:hover{

	color:#408080;
	
}
article{
	background: #ADADAD;
	border-radius: 0.5em;
	margin: 0.5em;
	text-align: left;
	width: 99%;/*ancho*/

}
footer{

	max-width:70%;/*max de ancho del texto*/
	text-align:center;
	position: absolute;
	top: 579px ;/*80 píxeles desde la parte superior de la ventana */
	right: 450px;/* 100 píxeles desde la izquierda*/

}

.nsc{
	position:absolute;
	bottom:40%;
	right:0;
}

/*MODAL DE ALERTA */
.modalDialog {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
display:none;
pointer-events: none;
}

.modalDialog:target {
display: block;
pointer-events: auto;
}

.modalDialog > div {
width: 400px;
position: relative;
margin: 10% auto;
padding: 5px 20px 13px 20px;
border-radius: 10px;
background: #fff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff, #999);
background: -o-linear-gradient(#fff, #999);
}

.close {
background: #606061;
color: #FFFFFF;
line-height: 25px;
position: absolute;
right: -12px;
text-align: center;
top: 13px;/*POS DEL BOTON CERRAR*/
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/*FIN DE MODAL DE ALERTA*/