 #button{

 text-decoration:none; 
 text-align:center; 
 padding:11px 32px 11px 32px; 
 margin:0px 32px 1px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 /*box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  */
 box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  
  }
		

input {
     
   font-family:  Arial ;
   text-align:left;
   vertical-align: baseline;
   border: solid 1px black;
   //padding: 1px 1px 1px 1px ;
   float: left;
	height:30px;/*largo*/
	margin: 2px 1px 1px 1px ;
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/

}

#aver{
margin: 10px;

}

label {

   //padding: 1px 1px 1px 1px ;
   color:#000040;
   float: left;
   height:2px;/*largo y poder alinearl los inputs*/
   margin: 6px 10px 11px 11px ;
   font-family:  Arial;
   font-weight: bold;
   width: 15%;
   float: left;
   
}
select{
   border: solid 1px black;
   font-family:  Arial ;
   text-align:left;
   vertical-align: baseline;
   width: 19%;/*ancho*/
   float:left;
	height:35px;/*largo*/
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/
}
select#stat{
   border: solid 1px black;
   font-family:  Arial ;
   text-align:left;
   vertical-align: baseline;
   width: 13%;/*ancho*/
   float:left;
	height:35px;/*largo*/
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/
}

select#mine{
   border: solid 1px black;
   font-family:  Arial ;
   text-align:left;
   vertical-align: baseline;
   width: 14%;/*ancho*/
   float:left;
	height:35px;/*largo*/
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/
}

h1{
	font-size:20px;
    text-align: center;
	text-color: #70D9DE;
	list-style: none;
	float:right;
	position: absolute;/*POSICION DE LA IMAGEN*/
	top:124px; /*SE MUEVE DE ABAJO HACIA ARRIBA*/
	left: 610px/*SE MUEVE DE IZQDA A DERECHA*/
}
section#trabajos{
	//background: #1E6381;
	border-radius: .5em;
	border: 3px solid #4196bb; 
	padding: 0px 9px 70px 10px;/*top,right,bottom,left parte  blanca*/
	margin: 1px 148px auto;/*top,right,bottom,left parte blanca*/
	max-width: 53%;
	max-height: 300px;
	text-align: center;
    background-color: rgba(255,255,255,.4);
	//box-shadow:5px 5px 10px rgba(255,255,255,.7);
	}
	
article{
	//background: #1E6381;
	border-radius: .5em;
	border: 3px solid #4196bb; 
	margin: 10px 10px 30px 5px;
	max-width: 100%;
	padding: 6px 9px 42px 7px;/*top,right,bottom,left parte azul*/
	text-align: center;
    background-color: #0080C0;
	//box-shadow:5px 5px 10px rgba(255,255,255,.7);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	}
	
h2{
	/*ESTO ES PARA EL COLOR Y SOMBRA DE LAS LETRAS QUE VAN EN "h1"*/
	color:#004080;
	margin: 0.25em auto;/*el auto es para que se centre*/
	text-align:center; /*para alinear al centro*/
	text-shadow: 5px 5px 10px rgba(0,0,0,0.5); /*sombras: en el eje X, en Y, efecto blur, es el que se ve como borroso, formato rgba para que tenga transparencia y los color blanco(como es en foemato rgba la escala es de 0-255 el blanco es: 255,255,255) y la opacidad es la mitad 0.5  */
	}

table{
	background-color:rgba(169, 180, 205, 0.6);
	font-size:20px;
    text-align: center;
	text-color: #70D9DE;
	list-style: none;
	float:top;
	padding:8px;
	margin: 1px 1px 1px 1px;/*top,right,bottom,left parte azul*/
	/*position: absolute;/*POSICION DE LA IMAGEN
	top:84px; /*SE MUEVE DE ABAJO HACIA ARRIBA
	left: 57px;/*SE MUEVE DE IZQDA A DERECHA*/

}


	section#sun{
	animation-delay: 3%;
	border-radius: .5em;
	border: 2px solid #4196bb; 
	background-color:#FFFF80;
	color: #0000A0;
	margin: 0;
	padding: .39em;
	text-align: center;
	
    max-width:70%;/*max de ancho del texto*/
	text-align:center;
	position: absolute;
	top: 384px ;/*80 píxeles desde la parte superior de la ventana */
	right: 126px;/* 100 píxeles desde la izquierda*/
	 box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}