 #button{
 margin: 179px 44px 11px 12px; 
 text-decoration:none; 
 text-align:center; 
 padding:16px 32px 16px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 /*box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  */
 box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }


input {
   font-family:  Arial ;
   text-align:left;
   vertical-align: baseline;
   padding: 1px;
   border: solid 1px black;
   padding: 1px 1px 1px 1px ;
   float: left;
	height:30px;/*largo*/
	margin: 2px; 
  /*sombra*/
 /* -webkit-box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);*/
/*bordes*/
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/
}

label {
   font-family:  Arial;
   width: 25%;
   float: left;
   
}
select{
   border: solid 1px black;
   font-family:  Arial;
   text-align:left;
   vertical-align: baseline;
   width: 60%;/*ancho*/
   float:left;
   height:35px;/*largo*/
  /*sombra*/
 /* -webkit-box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 34px -4px rgba(0,0,0,0.75);*/
/*bordes*/
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/
}
select#est{
   border: solid 1px black;
   font-family:  Arial;
   text-align:left;
   vertical-align: baseline;
   width: 30%;/*ancho*/
   float:left;
   height:35px;/*largo*/
-moz-border-radius:9px 9px 9px 9px;
-webkit-border-radius: 7px 7px 7px 7px;/*ORILLAS*/
}

h1{
	font-size:20px;
    text-align: center;
	text-color: #70D9DE;
	list-style: none;
	float:left;
	position: absolute;/*POSICION DE LA IMAGEN*/
	top:124px; /*SE MUEVE DE ABAJO HACIA ARRIBA*/
	left: 610px/*SE MUEVE DE IZQDA A DERECHA*/
}
section#trabajos{
	//background: #1E6381;
	border-radius: .5em;
	border: 3px solid #4196bb; 
	margin: -10px 125px 0 124px;/*top,right,bottom,left parte blanca*/
	max-width: 780px;/*ancho*/
	/*height: 219px;*/
	padding:  4px 67px  auto;/*top,right,bottom,left parte blanca*/
	
	text-align: center;
    background-color: rgba(255,255,255,.4);
	//box-shadow:5px 5px 10px rgba(255,255,255,.7);
	}

/**************************  TABLA  **************************/
table{
top:
	border: inset 2px #300208;
	border-collapse: collapse;
	width:600px;
	
	text-align:center;
	/*border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	background-color:#b0f8f2;
	position: relative;
	top: 0;
	left: 2em;
	background-color: lime;*/
}

th, tr, td{ border: inset 2px #300208; padding: .4em; }

th{ background-color: #999999; }

/*table, td{
	background-color:rgba(169, 180, 205, 0.6);
	font-size:12px;
	text-align: center;
	text-color: #70D9DE;
	list-style: none;
	padding:10px;
	margin:12px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
td{
	padding:8px;
	margin:2px;
}
tr{
	background-color:rgba(169, 180, 205, 0.6);
	padding:18px;
	margin:18px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}*/
/*************************************************************/


article{
	//background: #1E6381;
	border-radius: .5em;
	border: 3px solid #black; 
	margin: 20px 100px 20px 100px;/*top,right,bottom,left parte azul*/
	padding: 20px 90px 200px 90px;/*top,right,bottom,left parte azul*/
	text-align: center;
    background-color: #0080C0;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	}
	
h2{
	/*ESTO ES PARA EL COLOR Y SOMBRA DE LAS LETRAS QUE VAN EN "h1"*/
	color:#004080;
	margin: 0.25em auto;/*el auto es para que se centre*/
	padding: 125px at;
	text-align:center; /*para alinear al centro*/
	text-shadow: 5px 5px 10px rgba(0,0,0,0.5); /*sombras: en el eje X, en Y, efecto blur, es el que se ve como borroso, formato rgba para que tenga transparencia y los color blanco(como es en foemato rgba la escala es de 0-255 el blanco es: 255,255,255) y la opacidad es la mitad 0.5  */
	}



